# Maven/Java build output
/target/
/frontend/target/
!frontend/target/*.msi
!frontend/target/*.exe

# IntelliJ IDEA
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class

# VSCode
.vscode/ 